body {
	background-color: #dcdcdc;
}


#logo {
	display: block;
	margin-left:auto;
	margin-right:auto;
	vertical-align: middle;
	transition: 0.7s ease-in-out;
}

@keyframes flash {
	0% {
		opacity: .7;
	}

	36% {
		opacity: 0.5;
	}

	100% {
		opacity: 0.85;
	}
}

#logo:hover {
	opacity: 0.9;
	animation: flash 0.4s;
	animation-duration: 5s
}

footer {
position: fixed;
left: 0;
bottom: 0;
height: 10%;
width: 100%;
}