@import url('https://fonts.googleapis.com/css?family=Overpass');

body {
	background-color: #dcdcdc;
}


#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
	transition: 0.7s ease-in-out;
}

p {
	text-align: center;
	font-family: 'Overpass', sans-serif;
}
@keyframes flash {
	0% {
		opacity: .97;
	}

	36% {
		opacity: 0.7;
	}

	100% {
		opacity: 0.85;
	}
}

#logo:hover {
	opacity: 0.7;
	animation: flash 0.4s;
	animation-duration: 5s
}

a {color: #090019;
text-decoration: none;}

p:hover {opacity: 0.7;}
