@import url('https://fonts.googleapis.com/css?family=Overpass');

body {
	background-color: #dcdcdc;
}


#logo {
	opacity:0.8;
    display: block;
    margin-left: auto;
    margin-right: auto;
	transition: 0.7s ease-in-out;
}

p {
	text-align: center;
	font-family: 'Overpass', sans-serif;
}
@keyframes flash {
	0% {
		opacity: .77;
	}

	36% {
		opacity: 0.87;
	}

	70% {
		opacity: 0.72;
	}

	100% {
		opacity: 0.77;
	}
}

#logo:hover {
	opacity: 0.77;
	animation: flash 0.4s;
	animation-duration: 5s
}

a {color: #090019;
	opacity:0.9 ;
text-decoration: none;}

p:hover {opacity: 0.7;}
